:root {
  --white-lilac:                #f5f7fb;
  --periwinkle-gray:            #dbdef0;
  --link-water:                 #d6dbf5;
  --rhino:                      #293264;
  --kashmir-blue:               #4d5b9e;
  --correct-answer:             #94d7a2;
  --selected-incorrect-answer:  #f8bcbc;
  --body-font:                  'Inter', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  margin-top: 0;
  font-family: 'Karla', sans-serif;
  color: var(--rhino);
}

p {
  margin-top: 0;
}

button {
  border: none;
  border-radius: 15px;
  padding: 1em 3em;
  font-family: var(--body-font);
  color: var(--white-lilac);
  background-color: var(--kashmir-blue);
  transition-property: color, background-color;
  transition-duration: .25s;
  transition-timing-function: ease;
}

button {
  cursor: pointer;
}

button:hover {
  color: var(--kashmir-blue);
  background-color: var(--white-lilac);
}

button:active {
  color: var(--white-lilac);
  background-color: var(--kashmir-blue);
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.quizboard {
  margin: 1em;
  padding: 1em;
  background-color: rgba(253, 254, 254, .95);
  backdrop-filter: blur(5px);
  width: 90%;
  border-radius: 10px;
  overflow: scroll
}

.intro__tagline {
  color: var(--rhino);
}

.start {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.trivia__item {
  border-bottom: 1px solid var(--periwinkle-gray);
  padding-top: 1em;
}

[class~='trivia__item']:last-of-type {
  margin-bottom: 1.25em;
}

.trivia__question {
  margin-bottom: .75em;
}

.trivia__answers {
  margin-bottom: 1em;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  gap: .75em;
  list-style-type: none;
  font-size: .75rem;
}

.trivia__answer {
  display: flex;
  align-items: center;
  border: 1px solid var(--kashmir-blue);
  border-radius: 8px;
  padding: .25em 1.25em;
  text-align: center;
  color: var(--rhino);
  cursor: pointer;
}

.trivia__answer--selected {
  background-color: var(--link-water);
}

.submit-quiz {
  margin: 0 auto;
  display: block;
}